#S(DDUMP
   :SCREENS (#S(SDUMP
                :NUMBER 0
                :GROUPS (#S(GDUMP
                            :NUMBER 1
                            :NAME "Default"
                            :TREE ((((#S(FDUMP
                                         :NUMBER 0
                                         :X 2560
                                         :Y 180
                                         :WIDTH 180
                                         :HEIGHT 640
                                         :WINDOWS (27263006)
                                         :CURRENT 27263006)
                                      #S(FDUMP
                                         :NUMBER 5
                                         :X 2740
                                         :Y 180
                                         :WIDTH 620
                                         :HEIGHT 640
                                         :WINDOWS (27263097)
                                         :CURRENT 27263097))
                                     #S(FDUMP
                                        :NUMBER 4
                                        :X 2560
                                        :Y 820
                                        :WIDTH 800
                                        :HEIGHT 260
                                        :WINDOWS (8388642)
                                        :CURRENT 8388642))
                                    #S(FDUMP
                                       :NUMBER 3
                                       :X 3360
                                       :Y 180
                                       :WIDTH 800
                                       :HEIGHT 900
                                       :WINDOWS (20971521)
                                       :CURRENT 20971521))
                                   (#S(FDUMP
                                       :NUMBER 1
                                       :X 0
                                       :Y 0
                                       :WIDTH 1280
                                       :HEIGHT 1080
                                       :WINDOWS (35651871 10485794)
                                       :CURRENT 35651871)
                                    #S(FDUMP
                                       :NUMBER 2
                                       :X 1280
                                       :Y 0
                                       :WIDTH 1280
                                       :HEIGHT 1080
                                       :WINDOWS (16777250)
                                       :CURRENT 16777250)))
                            :CURRENT 1))
                :CURRENT 1))
   :CURRENT 0)