#S(DDUMP
   :SCREENS (#S(SDUMP
                :NUMBER 0
                :GROUPS (#S(GDUMP
                            :NUMBER 1
                            :NAME "Default"
                            :TREE ((#S(FDUMP
                                       :NUMBER 0
                                       :X 2560
                                       :Y 320
                                       :WIDTH 960
                                       :HEIGHT 1080
                                       :WINDOWS (27263002)
                                       :CURRENT 27263002)
                                    #S(FDUMP
                                       :NUMBER 3
                                       :X 3520
                                       :Y 320
                                       :WIDTH 960
                                       :HEIGHT 1080
                                       :WINDOWS (35651585)
                                       :CURRENT 35651585))
                                   (#S(FDUMP
                                       :NUMBER 1
                                       :X 0
                                       :Y 0
                                       :WIDTH 1630
                                       :HEIGHT 1080
                                       :WINDOWS (12582932 14680077)
                                       :CURRENT 12582932)
                                    #S(FDUMP
                                       :NUMBER 2
                                       :X 1630
                                       :Y 0
                                       :WIDTH 930
                                       :HEIGHT 1080
                                       :WINDOWS (18874505)
                                       :CURRENT 18874505)))
                            :CURRENT 1))
                :CURRENT 1))
   :CURRENT 0)